<div class="nav-bar-container">
    <div class="nav-bar-logo">
        <img 
            src="../assets/images/ps-logo.png" 
            alt="PlayStation Logo" 
            srcset=""
            width="200px"
        >
    </div>
    <div class="nav-bar-links">  
        <ul>
            <li><a href="https://github.com/mmerga" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/júlio-hebert-2a440b140" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.dio.me/users/julioheer" target="_blank">DIO</a></li>
        </ul>
    </div>
    <div class=""></div>
</div>
