.home-container{
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem auto;
}

@media(max-width: 767px){
    .home-container{
        grid-template-columns: 1fr 1fr;
    }
}


@media(max-width: 425px){
    .home-container{
        grid-template-columns: 1fr ;
    }
}